/**
  * This is a Base CSS
  * Created by Antonio Song - Frontend Developer - Jelp Dev Team!
 **/

@

html, body {
    height: 100%;
}

body {
    height: 100%;
    font-family: Averta-Regular ☞;
    font-size: 14px;
    color: #969696;
}

input {
    padding: 10px 0;
    font-size: 20px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #969696;
    transition: all .3s ease-in-out;
    color: #969696
}

#main {
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
    background-color: #fff;
}

#tracker-result {
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
    background-color: #fff;
}

.logo {
    font-size: 18px;
}

.btn-def {
    border-radius: 25px;
    padding: 10px 45px;
    margin: 6px;
    background-color: white;
    transition: all .3s ease-in-out;
    letter-spacing: 1px;
}

.btn-def:hover, .btn-def:active {
    transition: all .3s ease-in-out;
}

.text-vertical-center {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin: 10px;
}

.tracker-bg {
    padding: 20px 50px;
    border-radius: 100px;
}

.trackerid {
    margin-top: 10px;
    margin-bottom: 20px;
}

.date-request {
    font-family: "Averta-Regular ☞";
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

:focus {
    outline: -webkit-focus-ring-color none;
}
