/** THEME CSS **/

input:focus {
    border-color: #f01b2f;
    transition: all .3s ease-in-out;
    color: #f01b2f;
}

#tracker-result {
    color: #f01b2f;
}

.btn-def {
    border: 1px solid #f01b2f;
    background-color: white;
    color: #f01b2f;
}

.btn-def:hover, .btn-def:active {
    color: #fff;
    background-color: #f01b2f;
}

.box {
    border: 1px solid #969696;
    margin-bottom: 20px;
}

.tracker-bg {
    color: #fff;
    background-color: #f01b2f;
    border: 0px solid #f01b2f;
}

.tracker-bg {
    color: #fff;
    background-color: #f01b2f;
    border: 0px solid #f01b2f;
}

.trackerid {
    color: #f01b2f;
}

.date-request {
    color: #f01b2f;
}